<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CoPassword" value="https://4tecture.pkgs.visualstudio.com/_packaging/CoPassword/nuget/v3/index.json" />
	<add key="DevFunFeed" value="https://4tecture-training.pkgs.visualstudio.com/_packaging/DevFunFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <CoPassword>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="xyoag2avewwh3lszpernmujxmcso4642hlqngue4b5uol7xea22a" />
    </CoPassword>
	<DevFunFeed>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="42myz2miitjqugq3qfx3u3yrr2yuhygk5ikarava5s3cfdystara" />
    </DevFunFeed>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>